<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Item Catalog</title>    
  </head>

  <body  onload='myFunction()''>
    <div class="container">
      <div class="row header">
        <div class="col-xs-6 title">
          <a href="{{url_for('showCatalog')}}"><h1> Catalog App </h1></a>
        </div>
        <div class="col-xs-6 login">
          {% if 'username' in login_session %}
            <a href="{{url_for('disconnect')}}" class="btn-primary btn-lg align-bottom">Logout</a>
          {% else %}
            <a href="{{url_for('showLogin')}}" class="btn-primary btn-lg align-bottom">Login</a>
          {% endif %}
          }
        </div>
      </div>
      <div class="row flash">
        <div class="col-xs-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li> <strong class='flash'> {{ message }} </strong> </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>
      {% block content %}

      {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>