{% extends "base.html" %}

{% block content %}
<div class="row main">
	<div class="col-xs-12">
		<h2>Edit Item {{item.name}}</h2>
		<form method="POST" action="">
		<h2>Name:</h2><input type="text" name="name" value="{{item.name}}">
		<h2>Description:</h2><input type="text" size="70" name="description" value="{{item.description}}">
		<h2>Category:</h2>
		<select name="category" value="{{item.category_id}}">
			{% for category in categories %}
				<option value="{{category.id}}">{{category.name}}</option>
			{% endfor %}
		</select>
		</br>
		</br>
		<button type="submit" class="btn btn-small btn-primary">
			Submit
		</button>
		<button type="button" class="btn btn-small btn-secondary">
			<a href="{{url_for('viewItem', item='%s' % item.name)}}">Cancel</a>
		</button>
		</form>
		</br>
	</div>
</div>
{% endblock %}