{% extends "base.html" %}

{% block content %}
<div class="row main">
	<div class="col-xs-12">
		<h2>Make a New Category</h2>
		<form method="POST" action="">
			<div class="form-group">
				<label for="Category">Category</label>
				<input type="text" name="name" class="form-control">
			</div>
		<button class="btn btn-small btn-primary" type="submit">Submit</button>
		<button class="btn btn-small btn-secondary" type="submit" formaction="{{url_for('showCatalog')}}" formmethod="GET">
		Cancel
		</button>
		</br>
		</br>
		</form>
	</div>
</div>
{% endblock %}