{% extends "base.html" %}

{% block content %}

<div class="row main">
	<div class="col-xs-3 nav">
	  <h2>Categories</h2>
	  <ul>
	  	{% for category in categories %}
	  		<a href="{{url_for('viewCategory', category='%s' % category.name)}}">{{category.name}}</a>
	  		</br>
	  	{% endfor %}
	  </ul>
	</div>
	<div class="col-xs-9 item">
	  <h3>Recently Created Items</h3>
	  <ul>
	  	{% for item in items %}
	  		<a href="{{url_for('viewItem', item='%s' % item.name)}}">{{item.name}}</a>
	  		</br>
	  	{% endfor %}
	  </ul>
	</div>
</div>

{% endblock %}