{% extends "base.html" %}

{% block content %}
<div class="row main">
	<div class="col-xs-3 nav">
	  <h2>Categories</h2>
<!-- 	  <a href="{{url_for('newCategory')}}">Add Category</a> -->
	  <ul>
	  	{% for category in categories %}
	  		<a href="{{url_for('viewCategory', category='%s' % category.name)}}">{{category.name}}</a>
	  		</br>
	  	{% endfor %}
	  </ul>
	  <script>function myFunction() {{script}}</script>
	</div>
	<div class="col-xs-9 item">
	  <h1>{{item.name}}</h1>
	  <p>{{item.description}}</p>
	  </br>
	  <a href="{{url_for('editItem', item='%s' % item.name)}}">edit</a>
	  <a href="{{url_for('deleteItem', item='%s' % item.name)}}">delete</a>
	</div>
</div>
{% endblock %}